@charset "utf-8";
body h1 {
	text-align: center;
	background-color: #FFFFFF;
	border: thin solid #000000;
}

.imageSpace {
	width: 23%;
	float: left;
	margin-left: 15%;
	text-align: center;
}
.bioText {
	float: right;
	width: 45%;
	margin-left: 10px;
	text-align: center;
	margin-right: 15%;
}
.brief {
	width: 23%;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	margin-left: 15%;
}
body footer {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15%;
	float: left;
	width: 70%;
	border-width: thin;
	background-color: #FFFFFF;
}
#section1 {
	float: left;
	width: 23%;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
	margin-left: 15%;
	margin-right: 2%;
	text-align: left;
	border-width: thin;
	background-color: #191919;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}
#section2 {
	float: left;
	width: 20%;
	margin-top: 10px;
	text-align: center;
	font-size: 50px;
	border-width: thin;
	background-color: #F2F2F2;
}
#section3 {
	float: left;
	width: 23%;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 2%;
	border-color: #000000;
	border-width: thin;
	background-color: #292929;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}
body nav p {
	text-align: center;
	display: inline-block;
	border: thin solid #FFF;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 125px;
	margin-left: 0px;
	margin-right: -5px;
	background-color: #151C2A;
	color: #FFFFFF;
}

#section3 h2 {
	text-align: center;
	color: #FFFFFF;
}
.login {
	text-align: center;
	border-style: none;
	padding-right: 0px;
	margin-left: 45px;
	background-color: #12387E;
}
.navbar {
	border: thin solid #252525;
	margin-right: 0px;
	background-color: #12387E;
}
#username {
	padding-left: 0px;
	padding-right: 0px;
	border-style: none;
	display: inline;
	background-color: #12387E;
	
}
#password {
	padding-left: 20px;
	padding-right: 0px;
	border-style: none;
	display: inline;
	background-color: #12387E;
	
}
body {
	background-image: url(file:///ShatterExplosion.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #313843;
}
body nav p:hover {
	background-color:#313843;
}
body nav p:active {
	background-color:#FFFFFF;
	color:#000000;
}
#Buttons {
	background-color: #191919;
	margin-left: 35px;
	margin-right: 35px;
	color: #FFFFFF;
	border: thick double #1452C4;
}
#Buttons:hover {
	background-color:#313843
}
#Buttons:active {
	border: thick double #1452C4;
	background-color: #12387E;
	color: #FFFFFF;
}
	
}
